.nav-bar{
	width: 100%;
	text-align: center;
}

.nav-bar .left{
	position: absolute;
	left: 10px;
	top: 10px;
}

.nav-bar .left .title{
	padding-left: 20px;
}

.nav-bar .right{
	position: absolute;
	right: 10px;
	top: 10px;
}